@font-face{
    font-family: IRANsans;
    src: url('../fonts/IRAnSans/IRANSansWeb_Light.woff') format('woff');
}




*{
    direction: rtl;
    text-align: right;
    font-family: IRANsans;

}

.bg-grey{
    background-color: #484e67;
    color: #dcdcdc;
    
}
.pointer{
    cursor: pointer;
}